<table mat-table [dataSource]="mainRowEntries$ | async" class="mat-elevation-z8 full-width">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element">
      <app-classification-input *ngIf="element.isNew" [allClassifications$]="allClassifications$" (selectionOccurred)="classificationSelected(element, $event)"></app-classification-input>
      <span *ngIf="!element.isNew && element.product">{{element.product.classification.name}}</span>
      <span *ngIf="element.notRecognized">{{element.classificationRequest}}</span>
    </td>
  </ng-container>


  <!-- Category Column -->
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Classification </th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="element.product"> {{element.product.classification?.category?.name}}</span>
      <span *ngIf="element.notRecognized"> GENERIC! (not impl. ) </span>
    </td>
  </ng-container>

  <!-- Value Column -->
  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef> Insured Value </th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="element.product && element.product.insured"> {{element.product.value}}</span>
      <input (keyup)="requestProduct(element)"  [(ngModel)]="element.product.value"
        [value]="element.notRecognized ? element.proposedValueOnImport : element.product ? element.product.value : 0"
        [disabled]="element.notRecognized"
        *ngIf="element.product"/>
    </td>
  </ng-container>

  <!-- Fee Prct Column -->
  <ng-container matColumnDef="feeprct">
    <th mat-header-cell *matHeaderCellDef> Fee </th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="element.product && element.product.feePrct"> {{element.product.feePrct}}</span>
      <span *ngIf="!(element.product && element.product.feePrct)"> ? </span>
    </td>
  </ng-container>

  <!-- Premium Column -->
  <ng-container matColumnDef="premium">
    <th mat-header-cell *matHeaderCellDef> Premium </th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="element.product && element.product.premium"> {{element.product.premium}}</span>
      <span *ngIf="!(element.product && element.product.premium)"> ? </span>
    </td>
  </ng-container>

  <!-- Insured Column -->
  <ng-container matColumnDef="insured">
    <th mat-header-cell *matHeaderCellDef> Inusre/d </th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="element.product && element.product.insured"> INSURED ({{element.product.insuredFrom}})</span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
